<h1>List of Products</h1>
<%= link_to "New Product", new_product_path %>

<% @products.each do |product| %>
<p>Name: <%= link_to product.name, "products/#{product.id}" %> || Description: <%= product.description %> || Price: <%= product.formatted_price %></p>
<% end %>

